@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

header {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}



div {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1366px) and (max-height: 1024px) {
    .admin-header {
      flex-direction: column; /* Change layout to column on smaller screens */
      align-items: flex-start; /* Align items to start */
    }

    .admin-header input {
      width: 100%; /* Make input full width */
      margin-bottom: 10px; /* Add space below input */
    }

    .add-customer {
      width: 100%; /* Make button full width */
    }

    .filter-status {
      width: 100%; /* Make filter status full width */
    }

    .filter-options {
      width: 100%; /* Ensure filter options take full width */
    }

    /* Additional styles as needed for other components */
  }
